:root {
  --bg: #262624;
  --card: hsl(60 2.1% 18.4%/1);
  --text: #faf9f5;
  --secondaryText: #9c9a92;
  --accent: #d97757;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--noto-serif-georgian);
  background-color: var(--bg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
  color: var(--secondaryText);
}

p {
  font-size: 1.8rem;

  line-height: 1.7;
}

section {
  margin: 6.4rem 0;
}
